body{
    background: linear-gradient(90deg, #8360c3, #2ebf91);
}

h1{
    text-align: center;
    font-size: 3em;
}
.formulaire{
    margin-left: 35%;
    font-weight:bold;
}
.form-control{
    width: 45%;
    height: 3em;
}
.btn{
    margin-left: 53%;
    height: 3.5em;
    width: 8em;
}
.btn:hover{
    transform:scale(1.25);
}
.intero{
    margin-left: -3%;
}
.delimit{
    width: 45%;
}
h5{
    margin-left: -35%;
    font-weight:bold;
}
.btn-secondary{
    margin-left: -55%;
    width: 30em;
    text-decoration:none;
    color: black;
    font-weight: bold;
    padding-top: 5%;
}
img{
    width: 10%;
    margin-left: 45%;
}
#myDIV {
    margin-left: 60%;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    
    color: white;
    animation: mymove 5s infinite;
}
@keyframes mymove {
    50% {transform: rotate(180deg);}
  }
  #myDIV1 {
    margin-left: -130%;
    border: 1px solid black;
    width: 200px;
    height: 100px;
    
    color: white;
    animation: mymove 5s infinite;
  }
